html, body {margin:2em auto; max-width:600px; padding:10px; font-size:35px; font-family:'Just Me Again Down Here', Terminal, monospace !important; color:#5bc0de; background-color:#d43f3a;}
img.fork-me {position:fixed; top:0; right:0; border:0;}
img.me {border:0; border-radius:100%; width:50px;}
footer > .footer {position:fixed; bottom:10px; right:20px;}
.nav {position:absolute; bottom:10px; left:20px;}

body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.4; color: #FFF; background-color:#d43f3a;}
a {color:#FCF141; text-decoration:none; font-weight:normal;}
article > .article {margin-bottom:10px; border-bottom:solid 1px #d2322d; padding-bottom:10px;}
h1 {text-align:center; font-size:40px; font-family:'Just Me Again Down Here', Terminal, monospace !important; color:#FCF141; margin-bottom:10px; border-bottom:solid 1px #d2322d; padding-bottom:10px;}
h2 > a {font-size:30px; font-weight:normal; color:#f0ad4e;}
p {text-align:justify;}
.blog {margin:0 auto; max-width:800px;}
.date-post {color:#ac2925;}
