*, *:before, *:after {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
::selection {background:#00bcd4;}
html, body {margin:0; padding:0; line-height:1.3; color:#263238; font-size:18px; font-family:Arial, Helvetica, sans-serif; background:url(https://images.pexels.com/photos/220444/pexels-photo-220444.jpeg) no-repeat center fixed; background-size:cover; color:#fff;}
main {background:rgba(0,0,0,0.5); height:100%; min-height:100vh;}
.container {margin:auto; max-width:1000px; display:grid; grid-template-columns:1fr 2fr; grid-gap:0.5em; padding-top:1em;}
img.me {width:100%; max-width:100px; border-radius:30px; filter:grayscale(1); transition:transform .2s;}
img.me:hover {filter:grayscale(0); transform:scale(1.2);}
h1 {padding-bottom:0.3em; font-size:2.2rem; font-weight:500; animation:typing 2s steps(25) infinite alternate; height:50px; overflow-x:hidden;}
.border {border-bottom:1px dotted #eaecef;}
ul {padding:0;} ul li {list-style:none; display:inline; margin-right:5px;}
ul li a, a {font-size:1.5rem; color:#B0BEC5; text-decoration:none;}
ul li a:hover {color:#ffd600;}
ul.blog-list, article {max-height:70vh; overflow-y:auto;}
ul.blog-list li {display:list-item;}
aside {padding-bottom:2em;}
aside.location {position:fixed; top:0; z-index:1; width:100%; height:20px; text-align:center; background:rgba(249,72,119,0.5); font-size:14px;}
.quote {font-style:italic;}
.project a {animation:colorChange 2s infinite;}
/* blogposts */ h2 {font-weight:500;} .back-link a {font-size:16px;}
@keyframes colorChange { 0% {color:#F44336;} 25% {color:#FFA000;} 50% {color:#00C853;} 75% {color:#2196F3;} 100% {color:#7C4DFF;} }
@keyframes typing { from {width:0;} to {width:100%;} }
@media (max-width:768px) { 
  .container {grid-template-columns:1fr;} header {text-align:center; padding:3px;} img.me {filter:none;} ul li {margin:0 5px;}
}